body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  height: 1198px;
  color: #000;
  font-size: 14px;
  background-color: #ffffff;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 26px;
}
h2 {
  font-size: 24px;
  font-weight: 500;
}
h3 {
  font-size: 22px;
  letter-spacing: -0.22px;
  padding-bottom: 7px;
}
p {
  font-weight: 500;
  letter-spacing: -0.14px;
}
.icons-content-2,
.icons-content-4 {
  fill: #fff;
}
.icons-content-1,
.icons-content-3,
.icons-content-5 {
  fill: #9197b3;
}
.icons-content-9 {
  fill: #fff;
}

.icons-content-8 {
  fill: #5932ea;
}
.icons-content-2:hover,
.icons-content-2:focus {
  background-color: #576399;
  border-radius: 50px;
}
.icons-content-6 {
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
  fill: #f9fbff;
  cursor: pointer;
}
.sidebar {
  width: 306px;
  height: 100%;
  flex-shrink: 0;
  padding: 36px 36px 0px 28px;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.logo {
  display: flex;
  gap: 8px;
}
.logo-span {
  color: #838383;
  font-size: 10px;
  letter-spacing: -0.1px;
}
.user-profile {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: auto;
  margin-bottom: 78px;
}

.navigation ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-top: 65px;
  cursor: pointer;
}

.navigation li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #9197b3;
  letter-spacing: -0.14px;
  padding-bottom: 44px;
  font-weight: 500;
  height: 46px;
}
.li-container {
  display: flex;
  align-items: center;
  gap: 14px;
}
.customers {
  border-radius: 8px;
  background: #5932ea;
  width: 250px;
  height: 46px;
  flex-shrink: 0;
}

.cstmrs {
  color: #fff;
}
.post {
  color: #757575;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
}
img {
  width: 42px;
  height: 42px;
  flex-shrink: 0;
  border-radius: 50%;
}

.dashboard-content {
  background-color: #fafbff;
  width: 100%;
  height: 100%;
  padding: 41px 95px 0px 71px;
}
.dashboard-container {
  max-width: 968px;
  flex-shrink: 0;
}
.greeting {
  margin-bottom: 51px;
}

.customer-section {
  border-radius: 10px;
  padding: 30px 53px 40px 38px;
  background-color: #fff;
}

.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.active-members {
  color: #16c098;
  font-family: Poppins;
  font-weight: 400;
  letter-spacing: -0.14px;
}

input {
  height: 38px;
  border-radius: 10px;
  background-color: #f9fbff;
  border: none;
  padding-left: 40px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  color: #b5b7c0;
  font-weight: 500;
  letter-spacing: -0.14px;
  text-align: left;
  position: relative;
  padding-bottom: 14px;
}

th::after {
  content: '';
  display: block;
  border-bottom: 1px solid #eee;
  position: absolute;
  bottom: 0;
  left: -38px;
  right: -53px;
}
td {
  border-bottom: 1px solid #eee;
  padding: 24px 0;
  color: #292d32;
  font-weight: 500;
  letter-spacing: -0.14px;
}
td:last-child {
  text-align: end;
}
th:last-child {
  text-align: center;
}
.active,
.inactive {
  width: 80px;
  height: 29px;
  padding: 4px 12px;
  border-radius: 4px;
}
.active {
  border: 1px solid #00b087;
  background: rgba(22, 192, 152, 0.38);
}
td .active,
td .inactive {
  font-weight: 500;
  letter-spacing: -0.14px;
}
td .active {
  color: #008767;
}
.inactive {
  border: 1px solid #df0404;
  background: #ffc5c5;
}
td .inactive {
  color: #df0404;
}

form {
  position: relative;
  display: inline-block;
}
.container-pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 32px;
}
.paragraf {
  color: #b5b7c0;
}
.pagination {
  display: flex;
  list-style: none;
  gap: 12px;
}

.pagination a {
  text-decoration: none;
  cursor: pointer;
}

.prev,
.next,
.page,
.page-0 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #404b52;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.12px;
  border-radius: 4px;
  border: 1px solid #eee;
  background: #f5f5f5;
  width: 26px;
  height: 24px;
}
.page-1 {
  background-color: #5932ea;
  color: #fff;
}
@media (max-width: 767px) {
  body {
    display: block;
  }
  .sidebar {
    width: 100%;
  }
  .dashboard-container {
    max-width: 766px;
  }
  .customer-table {
    overflow-x: auto;
  }
  table {
    width: 968px;
  }
  .container-pagination {
    display: block;
  }
  .pagination {
    padding-top: 30px;
  }
  .section-header {
    display: block;
  }
  .all-customers {
    padding-bottom: 30px;
  }
}
